################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PlagiTracker/PlagiTracker.Analyzer/PlagiTracker.Analyzer.csproj
